@model Web.Data.Model.LoginViewModel

    <div class="simple-login-container">
        <h2>Login Form</h2>
        <form method="post" asp-controller="account" asp-action="login">
            @Html.ValidationMessage("invalid_account", new { @class = "text-danger mb-10" })
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="Email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="password" placeholder="Enter your Password" name="Password" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-block btn-login" placeholder="Đăng nhập">
                </div>
            </div>
            <div class="row">
                <div class="formgr formgr2">
                    <label>
                        <input type="checkbox" name="RememberMe" class="rememberpass">
                        <span>Nhớ mật khẩu</span>
                    </label>
                    <label class="lbright">
                        <span>
                            <a href="#">Quên mật khẩu</a>
                        </span>
                    </label>
                </div>
                <div class="formgr formgr-last">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Tạo tài khoản mới</a>
                </div>
            </div>
        </form>
    </div>

    <style>
        body {
         
            font-size: 14px;
            color: #fff;
        }

        .simple-login-container {
            width: 300px;
            max-width: 100%;
            margin: 50px auto;
        }

            .simple-login-container h2 {
                text-align: center;
                font-size: 20px;
            }

            .simple-login-container .btn-login {
                background-color: #FF5964;
                color: #fff;
            }

        a {
            color: #fff;
        }
    </style>
    @*<div class="login-page">
        <div class="container">
            <div class="login-page-container">
                <div class="login-logo">
                    <h3>Đăng Nhập</h3>
                </div>
                <form method="post" asp-action="login" asp-controller="account" class="loginform">
                    @Html.ValidationMessage("invalid_account", new { @class = "text-danger mb-10" })
                    <div class="formgr">
                        <input type="text" name="Email" class="login-email inp" placeholder="Email hoặc số điện thoại">
                    </div>
                    <div class="formgr">
                        <input type="password" name="Password" class="login-password inp" placeholder="Mật khẩu">
                    </div>
                    <button type="submit" class="btnlogin">Đăng Nhập</button>
                    <div class="formgr formgr2">
                        <label>
                            <input type="checkbox" name="RememberMe" class="rememberpass">
                            <span>Nhớ mật khẩu</span>
                        </label>
                        <label class="lbright">
                            <span>
                                <a href="#">Quên mật khẩu</a>
                            </span>
                        </label>
                    </div>
                    <div class="or-sec">
                        <p>hoặc</p>
                    </div>



                    <div class="formgr formgr-last">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Tạo tài khoản mới</a>
                    </div>
                </form>

            </div>
        </div>
    </div>*@
