@model Web.Data.Entities.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sukien" class="control-label"></label>
                <input asp-for="sukien" class="form-control" />
                <span asp-validation-for="sukien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="website" class="control-label"></label>
                <input asp-for="website" class="form-control" />
                <span asp-validation-for="website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nhatochuc" class="control-label"></label>
                <input asp-for="nhatochuc" class="form-control" />
                <span asp-validation-for="nhatochuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eventprogram" class="control-label"></label>
                <input asp-for="eventprogram" class="form-control" />
                <span asp-validation-for="eventprogram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surveryduration" class="control-label"></label>
                <input asp-for="surveryduration" class="form-control" />
                <span asp-validation-for="surveryduration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diadiem" class="control-label"></label>
                <input asp-for="diadiem" class="form-control" />
                <span asp-validation-for="diadiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="congty" class="control-label"></label>
                <input asp-for="congty" class="form-control" />
                <span asp-validation-for="congty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoiphutrach" class="control-label"></label>
                <input asp-for="nguoiphutrach" class="form-control" />
                <span asp-validation-for="nguoiphutrach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaybatdau" class="control-label"></label>
                <input asp-for="ngaybatdau" class="form-control" />
                <span asp-validation-for="ngaybatdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngayketthuc" class="control-label"></label>
                <input asp-for="ngayketthuc" class="form-control" />
                <span asp-validation-for="ngayketthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="muigio" class="control-label"></label>
                <input asp-for="muigio" class="form-control" />
                <span asp-validation-for="muigio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chuyenmuc" class="control-label"></label>
                <input asp-for="chuyenmuc" class="form-control" />
                <span asp-validation-for="chuyenmuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="twitterhashtag" class="control-label"></label>
                <input asp-for="twitterhashtag" class="form-control" />
                <span asp-validation-for="twitterhashtag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoitoida" class="control-label"></label>
                <input asp-for="nguoitoida" class="form-control" />
                <span asp-validation-for="nguoitoida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoitoithieu" class="control-label"></label>
                <input asp-for="nguoitoithieu" class="form-control" />
                <span asp-validation-for="nguoitoithieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
